@font-face {
  font-family: "BebasNeue";
  src: url("../../../public/assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");

}

@font-face {
  font-family: "Raleway";
  src: url("../../../public/assets/fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
}