@font-face {
  font-family: "EuroStile";
  src: url("../../../public/assets/fonts/eurostile/EuroStyleNormal.ttf");
}

@font-face {
  font-family: "EuroStile";
  src: url("../../../public/assets/fonts/eurostile/EuroStileBold.ttf");
  font-weight: 700;
}


@font-face {
  font-family: "EuroStile";
  src: url("../../../public/assets/fonts/eurostile/EuroStileBold.ttf");
  font-weight: 700;
}

// @font-face {
//   font-family: "EuroStile";
//   src: url("../../../public/assets/fonts/eurostile/EuroStileLight.ttf");
//   font-weight: 300;
// }