@use "../abstracts/" as *;

.primary-navigation{
  display: flex;
  justify-content: space-between;
  transition: translate 0.3s ease-in-out;
  @include mq(medium, max){
    flex-direction: column;
    position: fixed;
    inset: 0 30% 0 0;
    justify-content: unset;
    background-color: green;
    translate: -93% 0;
    &[data-open="true"]{
     translate: 0 0; 
    }
  }

  &[data-open="true"]{
    .nav-toggle{
      rotate: 180deg;
    }
  }

}

.nav-list{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  @include mq(medium, max){
    display: block;
    padding: min(10vh, 5rem) 2em;
     
  }
}

.nav-link{
  font-size: clamp(1.25rem, 1rem + .5vw, 1.5rem);
  color: white;
  text-decoration: none;
}


.navigation-wrapper{
  width: min(90%, 1400px);
  margin: 0 auto;
  position: relative;
}
