@use "../abstracts/" as *;
body {
  margin: 0;
  padding: 0 !important;
}

.primary-navigation {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  gap: 3rem;
}

.navigation-wrapper{
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}